<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/media/css/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/media/css/pygment_trac.css" media="screen" />
    <link rel="alternate" type="application/rss+xml" title="REhints" href="http://rehints.com/feed.xml" />
    <title>{{ page.title }} / REhints.com</title>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-42072427-1', 'rehints.com');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <header>
        <div class="container">
            <div class="twitter">
                <a href="https://twitter.com/REhints" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @REhints</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>

            <div class="header">REhints</div>
            <h2>{{ page.title }}</h2>
            <section id="downloads">
                <a href="/" class="btn">Blog</a>
                <a href="/projects/" class="btn btn-github"><span class="icon"></span>Projects</a>
                <a href="/publications/" class="btn">Publications</a>
                <a href="/about/" class="btn">About</a>
            </section>
        </div>
    </header>
    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>
</body>
</html>
