<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/media/css/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/media/css/pygment_trac.css" media="screen" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.02/jquery.min.js"></script>
    <script src="/media/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="/media/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>
    <link rel="stylesheet" type="text/css" href="/media/js/source/jquery.fancybox.css?v=2.1.4" media="screen" />

    <script src="/media/js/main.js"></script>
    <title>{{ page.title }} / REhints.com</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">REhints</div>
            <h2>Blog</h2>
            <section id="downloads">
                <a href="/" class="btn">Blog</a>
                <a href="/projects/" class="btn btn-github"><span class="icon"></span>Projects</a>
                <a href="/publications/" class="btn">Publications</a>
                <a href="/about/" class="btn">About</a>
            </section>
        </div>
    </header>
    <div class="container">
        <section id="main_content post">

            <h1>{{ page.title }}</h1>

            {{ content }}

            <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="gplus,facebook,twitter,lj"></div>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'rehints';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>

        </section>
    </div>
</body>
</html>
